body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.pm {
  margin-top: 0px;
  margin-bottom: 0px;
}

.instruct {
  color: yellow;
  margin: 20px 0px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#meta {
  float: left;
  width: 80%;
  margin: 0px 160px;
  height: 100vh;
  font-size: 30px;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

h2 {
  color: yellow;
}

h3 {
  color: blue;
  margin: 24px 0px;
}

button {
  background-color: yellow;
  padding: 10px;
  font-size: 25px;
  color: blue;
  margin-bottom: 20px;
}


button:hover {
  background-color: blue;
  color: yellow;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 2px solid black;
  float: right;

}

#grid div {
  width: 20px;
  height: 20px;
}

.dot {
  background-color: #cfa500;
  border: 7px solid black;
  box-sizing: border-box;
  border-radius: 50%;
}

.energizer {
  background: radial-gradient(#92e266, #5a8d3e);
  border-radius: 10px;
  animation: eng-an 1s infinite;
}

@keyframes eng-an {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wall {
  background-color: grey;

}

.pac-man {
  /* background-image: url(assets/pe5.png); */
  background-size: contain;

  background-repeat: no-repeat;
  transition: none;
  /* animation: imgChange 3s steps(1) infinite; */
}

@keyframes imgChange {
  0% {
    background-image: url(assets/pe1.png);
  }

  20% {
    background-image: url(assets/pe2.png);
    /* background-size: 108%; */
  }

  40% {
    background-image: url(assets/pe3.png);
  }

  60% {
    background-image: url(assets/pe4.png);
  }

  80% {
    background-image: url(assets/pe5.png);
  }

  100% {
    background-image: url(assets/pe1.png);
  }
}

.red {
  background-color: black !important;
  background-image: url('assets/red.png');
  background-size: contain;
  border: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
  animation: none;
}

.dizzy-red {
  background-image: url('assets/rD.png') !important;
}

.dizzy-cyan {
  background-image: url('assets/bD.png') !important;
}

.dizzy-orange {
  background-image: url('assets/yD.png') !important;
}

.cyan {
  background-color: black !important;
  background-image: url('assets/blue.png');
  background-size: contain;
  border: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
  animation: none;
}

.orange {
  background-color: black !important;
  background-image: url('assets/yellow.png');
  background-size: contain;
  border: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
  animation: none;
}

.dizzy {
  background-color: black;
  border: 0px;
  border-radius: 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.scoreBoard {
  display: flex;
  border: 4px solid yellow;
  height: 186px;

  cursor: default;
}

.name {}

.infos {
  border-bottom: 4px solid yellow;

}

.s-right {
  border-right: 4px solid yellow;
}

.s-text {
  padding: 4px 25px;
  height: 37px;


}

.s-text-p {
  text-align: justify;
}

::-webkit-scrollbar {
  display: none;
}

.s-text-c {
  border-bottom: 2px solid yellow;
}

.info {}

#title-img {
  width: 100%;
}

.menu {
  width: 400px;

}

.space {
  height: 100vh;
}

.grid-p {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: none;
}

@media screen and (min-width: 1920px) {
  #meta {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  body {}

  .controls {
    display: block;
    position: fixed;
    bottom: 70px;
  }

  .ctrl-btn {
    height: 50px;
    width: 50px;
    margin: 0px 0px;
    border: 2px solid;
    font-size: 13px;
    padding: 0px;
  }

  .top {
    text-align: center;
  }

  .bottom {
    text-align: center;
  }

  #grid {
    width: auto;
    height: auto;
    padding-top: 110px;
  }

  #grid div {
    width: 3.3vw;
    height: 3.3vw;

  }

  .grid-p {
    align-items: start;
    padding-bottom: 830px;
    /* padding-top: 110px; */
    
  }

  #meta {
    flex-direction: column;
    justify-content: start;
    padding: 70px 0px;
    font-size: 25px;
  }

  .menu {
    padding-top: 30px;
    width:auto;
  }

  .instruct {
    margin-top: 40px;
  }

  .dot {
    border: 4px solid black;
  }

  .scoreBoard {
    height: auto;

    font-size: 15px;
  }

  .s-text {
    height: auto;
    padding: 4px 15px;
  }

  .scoreBoard-sec {
    margin: 20px;
  }
  .red{
    border: 0px;
  }
  .cyan{
    border: 0px;
  }
  .orange{
    border: 0px;
  }
}

@media screen and (max-width: 400px){
  .controls{
    bottom: 3vh;
  }
  #meta{
    font-size: 20px;  
  }
  .scoreBoard-sec{
    margin: 0px;
  }
  .pm{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button{
    font-size: 22px;
    margin-bottom: 0px;
  }
  .instruct{
    margin-top: 10px;
  }
  .menu{
    padding-top: 0px;
  }
}